:root {
  --lightGreen: #53ffdd;
  --green: #00ffcc;
  --hoverGreen: #00e6b8;
  --bg1: #1a1a1a;
  --bg2: #2d2d2d;
  --bg3: #cccccc;
  --fg1: #f0f0f0;
  --fg2: #aaaaaa;

  --mainGradient1: #00bd97bf;
  --mainGradient2: #1a1a1aBF;
  --cover: #f5f5f513;
}