:root {
  --lightGreen: #53ffdd;
  --green: #00ffcc;
  --hoverGreen: #00e6b8;
  --bg1: #ffffff;
  --bg2: #f5f5f5;
  --bg3: #cccccc;
  --fg1: #333333;
  --fg2: #aaaaaa;

  --mainGradient1: #00bd97bf;
  --mainGradient2: #f5f5f5bf;
  --cover: #1a1a1a13;
}